
.navbar {
  overflow: hidden;
  background-color: #333;
  position: ;
  bottom:0px;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.{
  background-color: #04AA6D;
  color: white;
}

.navbar a.{
  background-color: #FFD000;
  color: #FF5500;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}